{{ template "layout" . }}

{{ define "title" }}
    {{ if .IsPublicTimeline }}
        Public Timeline
    {{ else if .IsMyTimeline }}
        My timeline
    {{ else }}
        {{ .ProfileUser.Username }}'s Timeline
    {{ end }}
{{ end }}

{{ define "body" }}
    <h2>{{ template "title" .}}</h2>

    {{ if .User.Username }}
        {{ if .IsPublicTimeline }}
             <div class=twitbox>
                <h3>What's on your mind {{ .User.Username }}?</h3>

                <form action="/add_message" method=post>
                    <p><input type=text name=text size=60>
                    <input type=submit value="Share">
                </form>
            </div>
        {{ else }}
            <div class="followstatus">
                {{ if .IsMyTimeline }}
                    This is you!
                {{ else }}
                    {{ if .IsFollowed }}
                        You are currently following this user.
                        <a class=unfollow href="/{{ .ProfileUser.Username }}/unfollow">Unfollow user</a>.
                    {{ else }}
                        You are not yet following this user.
                        <a class=follow href="/{{ .ProfileUser.Username }}/follow">Follow user</a>.
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}
    {{ end }}

    <ul class="messages">
        {{ if .HasMessages }}
            {{ range .Messages }}
                <li>
                    <img src="{{ gravatarUrl .Email 48 }}">
                    <p>
                        <strong><a href="/{{ .Username }}">{{ .Username }}</a></strong>
                        {{ .Text }}
                        <small>&mdash; {{ formatDatetime .PubDate }}</small>
                    </p>
                </li>
            {{ end }}
        {{ else }}
            <li><em>There's no message so far.</em></li>
        {{ end }}
    </ul>
{{ end }}
